<html>
    <head>
        <title>Simple Twitter App</title>

        <style>
            body {
                background-color: rgb(232, 244, 255);
            }
            .main {
                background: white;
                width: 600px;
                margin: 0 auto;
                padding: 1em;
            }
        </style>

    </head>
    
    <body>
        <section class="main">
            <center>
                <h1>Simple Twitter App</h1>
            </center>
            <hr>
            {% for tweet in all_tweets %}
            <p>
                {{tweet.content}}
            </p>
            <br>by {{tweet.username}} | 
            {{tweet.datetime}}
            <hr>
            {% endfor %}
        </section>
    </body>
</html>